*.iml
.idea
.junk
coverage
package-lock.json
yarn.lock
node_modules
*.log
src/**/*.spec.js
.DS_Store
.babelrc
.eslintrc
.gitignore
.npmrc
.travis.yml
.editorconfig
demo
*config*.js
greenkeeper.json
docs
.esdoc.json
